* {
  box-sizing: content-box;
}

.a1 { grid-area: a1; }
.a2 { grid-area: a2; }
.a3 { grid-area: a3; }
.a4 { grid-area: a4; }
.a7 { grid-area: a7; }
.a8 { grid-area: a8; }
.b1 { grid-area: b1; }
.b2 { grid-area: b2; }
.b3 { grid-area: b3; }
.b4 { grid-area: b4; }
.b5 { grid-area: b5; }
.b6 { grid-area: b6; }
.b7 { grid-area: b7; }
.b8 { grid-area: b8; }
.c1 { grid-area: c1; }
.c2 { grid-area: c2; }
.c3 { grid-area: c3; }
.c4 { grid-area: c4; }
.c7 { grid-area: c7; }
.c8 { grid-area: c8; }

.reddish {
  background-color: indianred
}

.piece::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius 20px;
}

.white.piece::after { background-color: white; }
.black.piece::after { background-color: black; }

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.board {
  border: 2px solid black;
  display: grid;
  width: 80vw;
  height: 30vw;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "a1 a2 a3 a4 . . a7 a8"
  "b1 b2 b3 b4 b5 b6 b7 b8"
  "c1 c2 c3 c4 . . c7 c8";
  grid-gap: 2px;
}

